<table class="table table-hover">
  <thead>
    <tr class="table-dark">
      <th scope="col">Subject</th>
      <th scope="col">Category</th>
      <th scope="col">Created Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let incident of getIncidents()">
      <th scope="row"><a [routerLink]="['/incident-details', incident.key]">{{(incident.subject.length>30)?
          (incident.subject | slice:0:30)+'...':(incident.subject) }} </a>
        <app-status [status]='incident.status'></app-status>
      </th>
      <td>{{incident.category}}</td>
      <td>{{incident.no | date:'short'}}</td>
    </tr>
  </tbody>
</table>