<div class="accordion" *ngIf="remarksList !== undefined">
    <div class="accordion-item" *ngFor="let remarks of remarksList">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button bg-secondary bg-gradient text-light" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#' + remarks.key" aria-expanded="true">
                {{remarks.date | date:'short'}}-<app-user [uid]="remarks.user"></app-user>
                <app-status [status]="remarks.status"></app-status>
            </button>
        </h2>
        <div id="{{remarks.key}}" class="accordion-collapse collapse show">
            <div class="accordion-body">
                {{remarks.remarks}}
            </div>
        </div>
    </div>
</div>