<div class="container raise-incident-container pt-3">
    <h3>New Incident</h3>
    <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="email" class="form-control" id="subject" placeholder="Subject" [(ngModel)]="incident.subject">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="category" class="form-control" id="category" placeholder="Category" [(ngModel)]="incident.category">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" placeholder="Description" rows="3" [(ngModel)]="incident.description"></textarea>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
</div>