<div class="container forgot-password-container pt-3">
    <div class="row justify-content-center">
        <div class="col-md-4 forgot-password-form">
            <h3>Forgot Password</h3>
            <div class="form">
                <div class="row">
                    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" [disabled]="isSent"/>
                </div>
                <div class="row">
                    <button class="btn btn-primary" (click)="submit()" [disabled]="email.length === 0" [disabled]="isSent">Send Password Reset Link</button>
                </div>
                <div class="row text-center">
                    <a routerLink="/login" class="links">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>