<div class="container register-container pt-3">
    <div class="row justify-content-center">
        <div class="col-md-4 register-form">
            <h3>Register</h3>
            <div class="form">
                <div class="row">
                    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email"/>
                </div>
                <div class="row">
                    <input type="password" class="form-control" placeholder="Password"  [(ngModel)]="password"/>
                </div>
                <div class="row">
                    <input type="password" class="form-control" placeholder="Confirm Password"  [(ngModel)]="confirmPassword"/>
                </div>
                <div class="row">
                    <button class="btn btn-primary" (click)="submit()">Submit</button>
                </div>
                <div class="row text-center">
                    <a routerLink="/login" class="links">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>